.contact-container h2#title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
	font-size: 2.2em;
	color: white;
	margin: 0 auto;
	position: relative;
    margin-bottom:50px;
}

.contact-container label {
	text-transform: uppercase;
	color:white;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1.1em;
	line-height: 2.0em;
}

.contact-container .contact-box input, textarea {
    width: 40%;
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
    text-transform:none;
	font-size: .9em;
	color: #888;
}

#map {
	height: 20em; 
	width: 50%; 
	margin:0 auto;
    float:left;
}

.contact-container{
    margin-top:100px;
    padding-left:50px;
}

label[for=address]
{
    margin-top:35px;
}

#message {
    height: 100px;
}

input{
    margin-bottom:40px;
    width:40%;
}

@media(max-width: 720px){
input, textarea, #map {
    width: 80%;
}
}

.btn-default{
    width:15%;
    margin-bottom:40px;
}

@media(max-width: 720px){
.btn-default {
    width: 80%;
}
}

.btn-default:hover {
	opacity: 0.7;
	transition: 0.5s;
    background: #18BC9C;
}
