.hidden {
    visibility: hidden;
}

html,body{overflow-y: scroll; }

#logo{
    margin-top:-15px;
    margin-left:20px;
    z-index: 2;
}

#app-container{
    margin-top:20px;
}

.footer-right{
    float: right;
    margin-right:100px;
}

.footer-left{
    float:left;
    margin-left:100px;
}

.btn-social{
    height: 35px;
    width: 35px;
}

body{ 
    background-color: #2C3E50;
}

@media (max-width: 600px){
.footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
    }
}

@media (max-width: 600px){
.footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
    }
}

footer{
    margin-top:20px;
}
