   <link rel="stylesheet" href="../css/contact.css">
   <div class="contact-container">
    <div>
        <div class="box-header">
            <h2 id="title">Свържете се с нас</h2>
        </div>
        <form action="mailto:goodsights@gmail.com" method="POST" enctype="text/plain">
            <label for="email">E-мейл</label>
            <br/>
            <input name="email" type="email" autofocus="autofocus" id="email">
            <br/>            
            <label for="subject">Тема</label>
            <br/>            
            <input name="subject" type="subject" id="subject">
            <br/>
            <label for="message">Съобщение</label>
            <br/>
            <textarea name="message" type="message" id="message"></textarea>
            <br/>
            <input id="button" type="submit" value="Изпрати съобщение" class="btn btn-default">
            <br/>
            <label for="address">Адресс: 
                </br>
                София, ул. Дондуков 22
                </br>
            </label>
            <div>
            <div id="map"></div>
            </div>
        </form>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeihtMtOGzNUmjv6dlbGObs-JKbb7E5Oc&callback=initializeMap">
</script>

<script>
    function initializeMap() {
        let coordinates = {lat: 42.698179, lng: 23.329264};

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: coordinates
        });

        let marker = new google.maps.Marker({
          position: coordinates,
          map: map
        });

        google.maps.event.addListenerOnce(map, 'idle', function() {
            setTimeout(() => {
                google.maps.event.trigger(map, 'resize');
            }, 1000);
        });
    }
    </script>