 <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Имаш душа на пътешественик?</h1>
                        <hr class="star-light">
                        <span class="skills">Тук си на правилното място!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Избери къде ти се ходи:</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#/sights" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> 
                        <p>Планини</p>
                        <img src="images/mountain-logo.png" class="img-responsive" alt="mountain">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#/sights" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>Пещери</p>
                        <img src="images/cave-logo.jpg" class="img-responsive" alt="cave">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#/sights" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>Водопади</p>
                        <img src="images/waterfalll-logo.jpg" class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#/sights" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <p>Плажове</p>
                        <img src="images/beach-logo.jpg" class="img-responsive" alt="Game controller">
                    </a>
                </div>
            </div>
        </div>
    </section>