<div id="sing-in">
    <div>
        <h1>Добре дошли в Goodsights!</h1>
        <p>Тук откриваме нови дестинации за покоряваме и споделяме приключенския си опит.</p>
    </div>
    <div>
        <div>
            <h2>Влезте, за да видиш всички преложения за теб!</h2>

            <label for="username-input"> Потребителско име </label>
            <input placeholder="Потребителско име" type="text" id="username-input">
            <label for="password-input"> Парола </label>
            <input placeholder="Парола" type="password" id="password-input">
            <p class="error hidden"></p>
            <button id="btn-login">Вход</button>
            <a href="#/error404"> Забравена парола?</a>
            <a href="#/register">Все още нямате регистрация?</a>
        </div>
    </div>
</div>