<div id="sing-in">
    <div>
        <h1>Welcome to Goodsights!</h1>
        <p>Here we dicover new places and seek adventure.</p>
    </div>
    <div>
        <div>
            <h2>Sing-in to view all our recomendations for you!</h2>

            <label for="username-input"> Username </label>
            <input placeholder="Username" type="text" id="username-input">
            <label for="password-input"> Password </label>
            <input placeholder="Password" type="password" id="password-input">
            <p class="error hidden"></p>
            <button id="btn-login">Login</button>
            <a href="#/error404">Forgot your password?</a>
            <a href="#/register">Don't have an account?</a>
        </div>
    </div>
</div>