<link rel="stylesheet" href="../css/sights.css">

<div >
    {{#each this}}
    <div>
        <div>
            
            <h6>{{name}} </h6>
            <br/>
            <img src="../{{imgSrc}}" alt="{{name}}"></img>
            <br/>
            <p>Страна: {{country}}</p>
            <br/>
            <p>Местоположение: {{location}}</p>
            <br/>
            <p>Категория: {{cathegory}}</p>
            <br/>
            <p>Описание: {{description}}</p>
            <br/>
            <p><a class="btn btn-success" href="#error404" role="button">Виж още &raquo;</a></p>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    {{/each }}
</div>