<div id="sing-in">
    <div>
        <h1>Добре дошли в Goodsights!</h1>
        <p>Тук откриваме нови невероятни места и търсим нови авантюри.</p>
    </div>
    <div>
        <div>
            <h2>Влзете, за да видите специалните ни предложжения за вас!</h2>

            <label for="username-input"> Потребител </label>
            <input placeholder="Username" type="text" id="username-input">
            <label for="password-input"> Парола </label>
            <input placeholder="Password" type="password" id="password-input">
            <p class="error hidden"></p>
            <button id="btn-login">Влез</button>
            <a href="#/error404">Забравихте си паролата?</a>
            <a href="#/sign-up">Нямате регистрация?</a>
        </div>
    </div>
</div>