<div id="register">
    <div>
        <h1 >Welcome to Goodsights!</h1>
        <p class="sub-heading">Here we dicover new places and seek adventure</p>
    </div>
    <div >
        <div class="wrapper">
            <h2 >Sign-up to view all our recomendations for you</h2>
            <label> Username </label>
            <input placeholder="Username" type="text" class="normal" id="tb-user">
            <label> Password </label>
            <input placeholder="Password" type="password" class="normal" id="tb-pass">
            <label> Repeat password </label>
            <input placeholder="Confirm Password" type="password" class="normal" id="tb-conf-pass">

            <p class="error hidden"></p>
            <button id="btn-register" >Sign-up</button>
            <a href="#/login">Already have an account?</a>
        </div>
    </div>
</div>