<link rel="stylesheet" href="../css/team.css">

<div id="the-team">
    <h3 >Екипът, който прави всичко това възможно:</h3>

    <div class="modal-body">
        <div class="row" id="user-info">
            <div class="col-md-6" >
                <strong class="user-pic">gizdava </br> Гиздава Генева </strong>
                </br>
                <img  src="../../images/gizi.jpg">
            </div>
            <div class="col-md-6">
                <strong class="user-pic ">Mihaela_Ivanova </br> Михаела Иванова </strong>
                </br>
                <img src="../../images/mishi.jpg">
            </div>
        </div>
        <p >
            Радваме се да бъдем част от това и да споделяме страстта си към новостите и далечните дестинации с всички вас. Моля, свържете се с нас за всякакви въпроси, препоръки или просто за споделяне на страхотни преживявания. Ще сме повече от щастливи да откриваме заедно още приятели с любов към пътешествията и природните красоти! :)
        <p>
    </div>
</div>