<div >
    <h3 >The team that makes all this possible for you:</h3>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <strong class="user-pic">gizdava </br> Гиздава Генева </strong>
                </br>
                <img  src="../../images/gizi.jpg">
            </div>
            <div class=>
                <strong class="user-pic ">Mihaela_Ivanova </br> Михаела Иванова </strong>
                </br>
                <img src="../../images/mishi.jpg">
            </div>
        </div>
        <p >
            We are happy have all of you and share our passion together. Please contact us for any recomendations and coments you may have. We will be more than happy to find more adventurers among you! :)
        <p>
    </div>
</div>